// Setting colors
$alfa: #D12D2D; // Main Primary color */
$alfa-1: #FF8585;
$alfa-2: #E55454;
$alfa-3: #A91616;
$alfa-4: #820000;
// Secondary 1 colors
$beta: #206883;
$beta-1: #5C94AA;
$beta-2: #387890;
$beta-3: #11526A;
$beta-4: #033C52;
// Secondary (2) colors
$gamma: #A0C72B;
$gamma-1: #D7F47F;
$gamma-2: #B8DA50;
$gamma-3: #7EA115;
$gamma-4: #5D7C00;
// Text's & titles colors
$text-alfa: #212121;
$text-gamma: #929290;
$text-beta: #5D5D5D;
$text-semi-bold: #000000;
$text-bold: #030302;